@model TechScreen.Models.ScreeningCandidateModel

<table class="table table-striped" id="tblCandidate">
    <thead>
        <tr>
            <th scope="col">Candidate First Name</th>
            <th scope="col">Candidate Last Name</th>
            <th scope="col">Candidate Email</th>
            <th scope="col">Candidate Contact No</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" asp-for="CandidateFirstName" class="form-control tblvalidate" id="CandidateFirstName" />
                <span asp-validation-for="CandidateFirstName" class="text-danger"></span>
            </td>
            <td>
                <input type="text" asp-for="CandidateLastName" class="form-control tblvalidate" id="CandidateLastName" />
                <span asp-validation-for="CandidateLastName" class="text-danger"></span>
            </td>
            <td>
                <input type="text" asp-for="CandidateEmail" class="form-control tblvalidate" id="CandidateEmail" />
                <span asp-validation-for="CandidateEmail" class="text-danger"></span>
            </td>
            <td>
                <input type="text" asp-for="CandidatePhone" class="form-control tblvalidate" id="CandidatePhone" />
                <span asp-validation-for="CandidatePhone" class="text-danger"></span>
            </td>
            <td>
                Delete
            </td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-link pull-right" id="btnAddCandidateInTable">Add New Candidate</button>
    </div>
</div>
<div class="row">
    <span id="spanValidateCandidates" name="spanValidateCandidates" class="text-danger"></span>
</div>
<div class="row">
    <span id="spanValidateCandidatesFields" name="spanValidateCandidatesFields" class="text-danger"></span>
</div>