@section Scripts
    {
    <script src="https://cdn.webrtc-experiment.com/RecordRTC.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="https://www.webrtc-experiment.com/common.js"></script>

    <script>
        $(document).ready(function () {

            alert("working");

            var video = document.querySelector('video');

            $("#btnStart").click(function () {

                $.ajax({
                    type: "GET",
                    url: '/VideoInterview/GetBlob'
                }).done(function (data) {
                    video.src = "https://techscreenstorageacct.blob.core.windows.net/screening-videos/3";//data;
                    //console.log(data);
                });
            });

        });
    </script>
}

<h2>Review</h2>

<video controls autoplay playsinline></video>
<div>
    <button id="btnStart">Start</button>

</div>
